{
  "extends": ["../../.eslintrc"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["src/assets/images/**/*.{js,ts,jsx,tsx}"], // Or *.test.js
      "rules": {
        "@typescript-eslint/naming-convention": "off",
        "react/jsx-props-no-spreading": "off"
      }
    }
  ]
}
